body {
    background: url("../images/concrete_seamless.png");
  }

  .row1{
    width:100%;
    height:80px; 
    border:1px solid gray;
    padding:8px;
    background: gray;
    margin-bottom: 20px
  }

  .row2{
    width:100%;
    height:300px; 
    border:1px solid gray;
    padding:8px;
    background:gray;
    margin-bottom: 20px
  }

  .row3{
    width:100%;
    height:100px; 
    border:1px solid gray;
    padding:8px;
    background:gray;
    margin-bottom: 20px
  }
  .row5{
    width:100%;
    height:50px; 
    border:1px solid gray;
    padding:8px;
    background:gray;
    margin-bottom: 20px
  }
  